@require '../../variables.styl'

.navbar
  .navbar-container
    height: navbar-height
    padding: 20px
    background-color: #2A1313
    .navbar-logo
      img
        max-height navbar-height
        float left
        margin-right 30px
    .page-title
      font-size 2em
      margin 1px 0 0 0
      text-align center
      color aliceblue
      padding-right 180px

    .search-bar-container
      width: 991px
      margin: auto
      md-input-container
        .md-input
          color: white
        &:not(.md-input-invalid).md-input-focused .md-input
          border-bottom: 1px solid white

