@require '../../../variables.styl'

.checkbox-chart
  position  relative
  .checkboxes
    position absolute
    left -60px
    top -12px
    ul
      list-style none
      margin-top 11px
      li
        margin-bottom 6px
        padding-right 10px
        .checkbox-icon
          margin-right -5px
          vertical-align middle

        .fa
          color $color-secondary

  .chart
    .bar
      cursor pointer
      fill #c2c3db
      &.hover
        fill #7c8795
    .count
      font-weight bold
      cursor pointer
      fill #292b33

      &.outside
        fill #292b33

      tspan
        &.small
          font-size 0.7em
          fill $color-secondary

  .deletes
    position absolute
    right -0px
    top -12px
    ul
      list-style none
      margin-top 11px
      li
        cursor pointer
        margin-bottom 6px
        padding-right 10px
        .fa.fa-remove
          margin-right -5px
          vertical-align middle
          color $color-secondary

