@require '../../variables.styl'

.changes
  height 100%
  .changes-container
    height 100%
    border-style solid
    border-color #eeeeee
    margin auto

    .summary
      border-style solid
      border-color #eeeeee
      border-width 0 0 1px 0
      padding 0 20px
      md-radio-button
        display inline-block
      .title
        text-align center
        font-size large
        padding-top 16px
    .filter-column
      padding 0 10px 0 60px
      height 100%
      border-style solid
      border-color #eeeeee
      border-width 0 1px 0 0
      .filter-chart
        h4
          margin-bottom 5px
        .subtitle
          font-style italic
          font-size .8em
          margin-top 0
        .btn-reset
          .md-button
            font-weight inherit
            color $color-blue-text
      .item
        padding 10px
      .version
        padding 10px 10px 10px 20px

    .content-column
      .content-container
        padding 10px
        .section
          margin-bottom 20px
        .header
          font-weight bold
          padding 10px 0
        .change-item
          padding 0 0 5px 0
