@require '../../variables.styl'

.homepage
  height 100%
  .homepage-container
    height 100%
    margin auto
    .index-column
      padding-top 20px
      height 100%
      .item
        padding 10px
      .version
        padding 10px 10px 10px 20px

    .content-column
      .content-container
        padding 10px
        .section
          margin-bottom: 20px
