<div class="homepage">
    <div class="homepage-container">
        <div layout="row">
            <div class="index-column" flex="25">
                <div ng-repeat="item in Home.datasets">
                    <div ng-click="Home.toggle(item)" class="active item">
                        <i class="fa fa-caret-down" ng-if="item.expanded"></i>
                        <i class="fa fa-caret-right" ng-if="!item.expanded"></i>
                        <strong>{{item.name}}</strong>
                    </div>
                    <div ng-repeat="version in item.versions" ng-if="item.expanded"
                         class="version active"
                         ng-class="{'selected':version.selected}"
                         ng-click="Home.selectVersion(item, version)">
                        {{version.name}} {{version.date | date}}
                    </div>
                </div>
            </div>
            <div class="content-column" flex="75">
                <div class="content-container" ng-if="Home.selectedVersion">
                    <h3>{{Home.selectedItem.name}} / {{Home.selectedVersion.date | date}}</h3>

                    <div class="section">
                        <h4>Structure</h4>

                        <div class="section-container">
                            Dimensions
                            <ul>
                                <li ng-repeat="item in Home.selectedVersion.dimensions" class="dimension">{{item.uri}}
                                    ({{item.type}})
                                </li>
                            </ul>
                            Measures
                            <ul>
                                <li ng-repeat="item in Home.selectedVersion.measures" class="measure">{{item.uri}}
                                    ({{item.type}})
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="section">
                        <h4>Changes since the previous version</h4>

                        <div class="section-container">
                            {{Home.changes.total}} changes detected since last versions.  Explore
                            <a ui-sref="changes({db: 'data', dataset: Home.selectedItem.name})">data</a> or
                            <a ui-sref="changes({db: 'meta', dataset: Home.selectedItem.name})">schema</a> changes.
                        </div>
                    </div>

                    <div class="section">
                        <h4>Quality Assessment</h4>

                        <div class="section-container" ng-if="Home.qualityChartConfig">
                            <highchart config="Home.qualityChartConfig"></highchart>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>