@require '../../variables.styl'

.search
  .search-container
    padding-top: 60px
    max-width: 991px
    margin: auto
    h4
      > .nb-results
        color: color-primary
    search-result
      margin-bottom: 25px
      margin-right: 25px