color-primary = #171D25
color-primary-hover = #292b33
color-primary-background = #ffffff
color-primary-background-hover = #7c8795

color-secondary = #292b33
color-secondary-hover = #3E414A
color-secondary-background = #7c8795
color-secondary-background-hover = #D0D1D5

$color-darkblue = rgb(23, 29, 37);
$color-darkblue-text = #c3d7ef;
$color-blue-title = #3f4d63;
$color-blue-title-hover = #2179ec;
$color-blue-text = #7c8795;
$color-elec-blue = rgb(20, 181, 255);

navbar-height = 40px

ul
  list-style-type none


.state-loading
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 500
  background-color rgba(255,255,255,0.5)
  md-progress-circular
    position: absolute
    left 50%
    top  50%
    margin-top -25px
    margin-left -25px


